<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a [routerLink]="'/admin/dashboard'">Home</a></li>
                    <li class="breadcrumb-item active"><a [routerLink]="'/admin/printbill'">DataTables</a></li>
                </ol>
            </div>
            <div class="col-sm-6 ">
                <!-- <span class="float-sm-right">
                    <a routerLink="/admin/selling/add">
                        <button type="button" class="btn btn-primary">Add</button>
                    </a>
                </span> -->
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name">
                            <div *ngIf="orderForm.get('name')?.invalid && orderForm.get('name')?.touched" class="text-danger">
                                Name is required.
                            </div>
                        </div>
                        <div class="col">
                            <label for="mobile" class="form-label">Mobile Number</label>
                            <input type="text" class="form-control" id="mobile" formControlName="mobile" placeholder="Mobile Number">
                            <div *ngIf="orderForm.get('mobile')?.invalid && orderForm.get('mobile')?.touched" class="text-danger">
                                Mobile number is required.
                            </div>
                        </div>
                    </div>
                    <div formArrayName="orders">
                      <div *ngFor="let order of orders.controls; let i = index" [formGroupName]="i" class="row mb-3">
                        <div class="col-lg-1">
                            <label class="form-label">S.no</label>
                            <input type="text" class="form-control" [value]="i + 1" disabled>
                        </div>
                        <div class="col">
                            <label for="category" class="form-label">Category</label>
                            <select formControlName="category" class="form-control" (change)="onCategorySelect($event, i)">
                                <option value="" disabled selected>Select Category</option>
                                <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
                            </select>
                            <div *ngIf="orders.controls[i].get('category')?.invalid && orders.controls[i].get('category')?.touched" class="text-danger">
                                Category is required.
                            </div>
                        </div>
                        <div class="col">
                            <label for="product" class="form-label">Product</label>
                            <select formControlName="product" class="form-control" id="product" (change)="onProductSelect($event,i)" >
                                <option *ngIf="products.length === 0" value="" disabled selected>Select Product</option>
                                <!-- <option *ngFor="let product of products" [value]="product.product_id">{{ product.product_name }}</option> -->
                                <option *ngFor="let product of orders.controls[i].get('products')?.value" [value]="product.product_id">{{ product.product_name }}</option>

                            </select>
                            <div *ngIf="orders.controls[i].get('product')?.invalid && orders.controls[i].get('product')?.touched" class="text-danger">
                                Product is required.
                            </div>
                        </div>
                        <div class="col">
                            <label for="quantity" class="form-label">Quantity</label>
                            <input formControlName="quantity" type="number" class="form-control" id="quantity" placeholder="Quantity">
                            <div *ngIf="orders.controls[i].get('quantity')?.invalid && orders.controls[i].get('quantity')?.touched" class="text-danger">
                                Quantity is required and should be at least 1.
                            </div>
                        </div>
                        <div class="col">
                            <button type="button" (click)="removeOrder(i)" class="btn btn-danger mt-4">Remove</button>
                        </div>
                    </div>
                    </div>
                    <button type="button" (click)="addOrder()" class="btn btn-primary">Add Order</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
