<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
      <img src="../../../assets//dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
          style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
              <img src="../../../assets/dist/img/avatar.png" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
              <a href="#" class="d-block">Alexander Pierce</a>
          </div>
      </div>

      <!-- Sidebar Menu -->
      <!-- <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
              <ng-container *ngFor="let menuItem of sidebaritems">
                  <li class="nav-item" *ngIf="!menuItem.submenu || menuItem.submenu.length === 0">
                      <a [routerLink]="menuItem.route" routerLinkActive="active" class="nav-link">
                          <i class="nav-icon {{ menuItem.icon }}"></i>
                          <p>
                              {{ menuItem.label }}
                          </p>
                      </a>
                  </li>
                  <li class="nav-item" *ngIf="menuItem.submenu && menuItem.submenu.length > 0">
                      <a class="nav-link">
                          <i class="nav-icon {{ menuItem.icon }}"></i>
                          <p>
                              {{ menuItem.label }}
                              <i class="right fas fa-angle-left" ></i>
                          </p>
                      </a>
                      <ul class="nav nav-treeview">
                          <li class="nav-item" *ngFor="let subMenuItem of menuItem.submenu">
                              <a [routerLink]="subMenuItem.route" routerLinkActive="active" class="nav-link">
                                  <i class="{{subMenuItem.icon}}"></i>
                                  <p>{{ subMenuItem.label }}</p>
                              </a>
                          </li>
                      </ul>
                  </li>
              </ng-container>
          </ul>
      </nav> -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
          <ng-container *ngFor="let menuItem of sidebaritems">
            <li class="nav-item" *ngIf="menuItem.view === 1">
              <a *ngIf="!menuItem.childmenu || menuItem.childmenu.length === 0" [routerLink]="menuItem.route"
              [queryParams]="{ menuid: menuItem.id }"
              [ngClass]="{ 'nav-link': true, 'active': activeMenuId === menuItem.id }"
              routerLinkActive="active" class="nav-link">
                <i class="nav-icon {{ menuItem.icon }}"></i>
                <p>{{ menuItem.label }}</p>
              </a>
              <ng-container *ngIf="menuItem.childmenu && menuItem.childmenu.length > 0">
                <a class="nav-link" *ngIf="menuItem.view === 1">
                  <i class="nav-icon {{ menuItem.icon }}"></i>
                  <p >
                    {{ menuItem.label }}
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item" *ngFor="let subMenuItem of menuItem.childmenu">
                    <a *ngIf="subMenuItem.view === 1" [routerLink]="subMenuItem.route" [queryParams]="{ menuid: subMenuItem.id }" routerLinkActive="active" class="nav-link">
                      <i class="{{ subMenuItem.icon }}"></i>
                      <p>{{ subMenuItem.label }}</p>
                    </a>
                  </li>
                </ul>
              </ng-container>
            </li>
          </ng-container>
        </ul>
      </nav>
      

      <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
