.container {
  display: grid;
  place-items: center; 
  height: 100vh; 
}

.centered-div {
  padding: 20px;
  border: 1px solid #ccc;
}

.error:focus,
.error {
  border-color: #E91E63;
  color: #E91E63;
}

.invalid-feedback {
  color: #E91E63;
  margin-top: 10px;
}

input.login-btn.my_class1 {
  opacity: 0.2;
}
.invalid-feedback {
  display: block;
}
.input-group {
  position: relative;
}

.toggle-button {
  position: absolute;
  right: 10px; /* Adjust as necessary */
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  padding: 0; /* Remove padding */
  cursor: pointer;
  z-index: 1; /* Ensure button is above the input */
}
