<div class="row mt-2 mb-3">
  <div class="col-md-6">
  </div>
  <div class="col-sm-6">
    <span class="float-sm-right mr-2">
      <!-- <a routerLink="/admin/addproduct/add/"> -->
      <button mat-button (click)="closeDialog()" class="btn btn-danger">X</button>
      <!-- </a> -->
    </span>
  </div>
</div>
<div class="container">
  <!-- productdialogue.component.html -->

  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

    <div class=" row mb-3">
      <label class="col-sm-4 col-form-label" for="category">Select Category <span class="text-danger">*</span></label>
      <div class="col-sm-7">
        <select class="form-control" formControlName="category" id="category">
          <option value="">Please Select Category</option>
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
      </div>
      <!-- <div *ngIf="productForm.get('category').errors && productForm.get('category').touched" class="text-danger">
            Category is required
          </div> -->
    </div>
        <!-- <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3">
      </div>
    </div> -->
    <div class="row mb-3">
      <label for="productName" class="col-sm-4 col-form-label">Product Name <span class="text-danger">*</span></label>
      <div class="col-sm-7">
      <input type="text" class="form-control" id="productName" formControlName="productName"
        placeholder="Enter product name">
      </div>
      <!-- <div *ngIf="productForm.get('productName').errors && productForm.get('productName').touched" class="text-danger">
            Product Name is required
          </div> -->

    </div>
    <br>
    <br>
    <div class="col-sm-12">
    <button type="submit" class="btn btn-primary float-sm-right">Add Product</button>
    <button type="button" class="btn btn-light float-sm-right mr-2"(click)="closeDialog()">Close</button>

  </div>
  </form>
</div>