.container {
  display: grid;
  place-items: center; 
  height: 100vh; 
}

.centered-div {
  padding: 20px;
  border: 1px solid #ccc;
}

.error:focus,
.error {
  border-color: #E91E63;
  color: #E91E63;
}

.invalid-feedback {
  color: #E91E63;
  margin-top: 10px;
}

input.login-btn.my_class1 {
  opacity: 0.2;
}
.invalid-feedback {
  display: block;
}
