<br>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-6">
                <div class="small-box bg-lightblue">
                    <div class="inner">
                        <h3>150</h3>
                        <p>Total vendors</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>{{totalCategories}}</h3>
                        <p>Total Categories</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>{{Total_productName}}</h3>
                        <p>Total Products</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{totalCostPrice}}</h3>
                        <p>Cost invested</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-checkmark"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>{{Total_sale}}</h3>
                        <p style="color: #fff;">Total Sell</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-clock"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="small-box bg-lightblue">
                    <div class="inner">
                        <h3>{{totalProfit}}</h3>
                        <p>total profit</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-close"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
