/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.success {
  .mdc-snackbar__surface {
    margin-top: 40px !important;
    background-color: #4caf50 !important;
    z-index: 100000 !important;
  }
 
  .mdc-snackbar__label {
    color: #fff !important;
  }
}
.error {
  .mdc-snackbar__surface {
    margin-top: 40px !important;
    background-color: #f44336 !important;
    z-index: 100000 !important;

  }
 
  .mdc-snackbar__label {
    color: #fff !important;
  }
}
